            .rammeRundtHeader{
                margin-left: 12.5%;
                margin-right: 12.5%;
                margin-top: 1%;
                margin-bottom: 1.5%;
            }

            .logo{
                margin-right: 20% !important;
            }
            
            .iLineHeader{
                display:inline-block;
                padding-right: 7px !important;
            }
            
            .logoTekstBanner1{
                color:rgb(237,28,36);
                font-size: 40px;
            }
            
            .logoTekstBanner2{
                color:rgb(53,53,53);  
                font-size: 40px;
            }

        @media only screen and (max-width: 1822px) {
                .logo{
                  margin-right: 10% !important;
                } 
        }
        
        @media only screen and (max-width: 1600px) {
               .logo{
                   margin-right: 4% !important;
                }  
        }
        
        @media only screen and (max-width: 1490px) {
                .logoTekstBanner1{
                   color:rgb(237,28,36);
                   font-size: 30px;
                }
            
                .logoTekstBanner2{
                   color:rgb(53,53,53);  
                   font-size: 30px;
                }
                
                .iLineHeader{
                   font-size: 14px;
                } 
        }
        
        @media only screen and (max-width: 1250px) {
                .logoTekstBanner1{
                   color:rgb(237,28,36);
                   font-size: 40px;
                }
            
                .logoTekstBanner2{
                   color:rgb(53,53,53);  
                   font-size: 40px;
                }
                  
                .mediaQueryHeader{
                   display: none !important;
                }
        }
        
        @media only screen and (max-width: 1010px) {
                .logo{
                    margin-left: 55px !important;
                }
        }

        @media only screen and (max-width: 700px) {
            .logo{
                margin-Left: 25px !important;
            }

            .logoTekstBanner1{
                color:rgb(237,28,36);
                font-size: 30px;
             }
         
             .logoTekstBanner2{
                color:rgb(53,53,53);  
                font-size: 30px;
             }
        }